---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: alcide-k8s-kaudit-{{ .Values.clusterName }}
  namespace: {{ .Values.namespace }}
  labels:
    app: kaudit
    app-name: kaudit-{{ .Values.clusterName }}
